# Wage Gap Prediction

Data preparation and cleaning

## 1 Import Python Libraries

In [73]:
import pandas as pd
import numpy as np
import seaborn as sns
import os
import sklearn
import matplotlib.pyplot as plt
import sklearn.preprocessing as sp

##2 Load CSVs

In [74]:
gender_data_raw = pd.read_csv('working_data\GenderStat_Data_new.csv',header=None,skiprows=0)

payment_gap_oecd_raw = pd.read_csv('working_data\Payment_gap_oecd.csv', header=None,skiprows = 1)

##3 Travers years and indicator in GenderStats

In [75]:
gender_data_raw.drop(gender_data_raw.columns[[1,3]], axis=1, inplace=True)
gender_data_raw.loc[0,0] = 'country-full-name'

gender_data_raw.columns = gender_data_raw.loc[0]

gender_data_raw = pd.pivot_table(gender_data_raw,index ='country-full-name', columns='Indicator Name')

gender_data_raw = gender_data_raw.stack(level=0)
gender_data_raw.reset_index(inplace=True)
gender_data_raw.rename(columns={0:'Year'},inplace=True)
gender_data_raw.rename(columns={"Indicator Name":'Id'},inplace=True)
gender_data_raw.to_csv("newCsv.csv")


gender_stats_normalized = pd.read_csv("newCsv.csv")
gender_stats_normalized.drop(gender_stats_normalized.columns[[0]], axis=1, inplace=True)
gender_stats_normalized.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>country-full-name</th>
      <th>Year</th>
      <th>Access to anti-retroviral drugs, female (%)</th>
      <th>Access to anti-retroviral drugs, male (%)</th>
      <th>Account at a financial institution, female (% age 15+) [ts]</th>
      <th>Account at a financial institution, male (% age 15+) [ts]</th>
      <th>Adolescent fertility rate (births per 1,000 women ages 15-19)</th>
      <th>Age at first marriage, female</th>
      <th>Age at first marriage, male</th>
      <th>Age dependency ratio (% of working-age population)</th>
      <th>...</th>
      <th>Women who own land both alone and jointly (% of women age 15-49): Q3</th>
      <th>Women who own land both alone and jointly (% of women age 15-49): Q4</th>
      <th>Women who own land both alone and jointly (% of women age 15-49): Q5 (highest)</th>
      <th>Women who own land jointly (% of women age 15-49)</th>
      <th>Women who own land jointly (% of women age 15-49): Q1 (lowest)</th>
      <th>Women who own land jointly (% of women age 15-49): Q2</th>
      <th>Women who own land jointly (% of women age 15-49): Q3</th>
      <th>Women who own land jointly (% of women age 15-49): Q4</th>
      <th>Women who own land jointly (% of women age 15-49): Q5 (highest)</th>
      <th>Women who were first married by age 18 (% of women ages 20-24)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Australia</td>
      <td>1960.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>44.8286</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>63.356535</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Australia</td>
      <td>1961.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>45.0668</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>63.596913</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Australia</td>
      <td>1962.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>45.3050</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>63.372475</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Australia</td>
      <td>1963.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>45.9764</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>62.857899</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Australia</td>
      <td>1964.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>46.6478</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>62.304998</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 691 columns</p>
</div>

##4 Adding Header to Data Files

In [76]:
payment_gap_oecd_raw.columns = ['location', 'indicator', 'subject', 'measure', 'frequency', 'Year', 'WageGaP', 
                      'country-full-name']
payment_gap_oecd_raw.head(10)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>location</th>
      <th>indicator</th>
      <th>subject</th>
      <th>measure</th>
      <th>frequency</th>
      <th>Year</th>
      <th>WageGaP</th>
      <th>country-full-name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>AUS</td>
      <td>WAGEGAP</td>
      <td>TOT</td>
      <td>PC_MENWAGE</td>
      <td>A</td>
      <td>1975</td>
      <td>21.582733</td>
      <td>Australia</td>
    </tr>
    <tr>
      <th>1</th>
      <td>AUS</td>
      <td>WAGEGAP</td>
      <td>TOT</td>
      <td>PC_MENWAGE</td>
      <td>A</td>
      <td>1976</td>
      <td>20.754717</td>
      <td>Australia</td>
    </tr>
    <tr>
      <th>2</th>
      <td>AUS</td>
      <td>WAGEGAP</td>
      <td>TOT</td>
      <td>PC_MENWAGE</td>
      <td>A</td>
      <td>1977</td>
      <td>18.390804</td>
      <td>Australia</td>
    </tr>
    <tr>
      <th>3</th>
      <td>AUS</td>
      <td>WAGEGAP</td>
      <td>TOT</td>
      <td>PC_MENWAGE</td>
      <td>A</td>
      <td>1978</td>
      <td>19.791666</td>
      <td>Australia</td>
    </tr>
    <tr>
      <th>4</th>
      <td>AUS</td>
      <td>WAGEGAP</td>
      <td>TOT</td>
      <td>PC_MENWAGE</td>
      <td>A</td>
      <td>1979</td>
      <td>20.000000</td>
      <td>Australia</td>
    </tr>
    <tr>
      <th>5</th>
      <td>AUS</td>
      <td>WAGEGAP</td>
      <td>TOT</td>
      <td>PC_MENWAGE</td>
      <td>A</td>
      <td>1980</td>
      <td>18.750000</td>
      <td>Australia</td>
    </tr>
    <tr>
      <th>6</th>
      <td>AUS</td>
      <td>WAGEGAP</td>
      <td>TOT</td>
      <td>PC_MENWAGE</td>
      <td>A</td>
      <td>1981</td>
      <td>18.253969</td>
      <td>Australia</td>
    </tr>
    <tr>
      <th>7</th>
      <td>AUS</td>
      <td>WAGEGAP</td>
      <td>TOT</td>
      <td>PC_MENWAGE</td>
      <td>A</td>
      <td>1982</td>
      <td>20.819113</td>
      <td>Australia</td>
    </tr>
    <tr>
      <th>8</th>
      <td>AUS</td>
      <td>WAGEGAP</td>
      <td>TOT</td>
      <td>PC_MENWAGE</td>
      <td>A</td>
      <td>1983</td>
      <td>19.155844</td>
      <td>Australia</td>
    </tr>
    <tr>
      <th>9</th>
      <td>AUS</td>
      <td>WAGEGAP</td>
      <td>TOT</td>
      <td>PC_MENWAGE</td>
      <td>A</td>
      <td>1984</td>
      <td>18.674698</td>
      <td>Australia</td>
    </tr>
  </tbody>
</table>
</div>

#5 Intersect Countries and merge two csv's

In [77]:
#checking both csv's - country-full-name
#csv's - gender_stats_normalized, payment_gap_oecd_raw
new_data_raw = pd.merge(gender_stats_normalized, payment_gap_oecd_raw, how='inner', on=['country-full-name', 'Year'])
new_data_raw.head(10)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>country-full-name</th>
      <th>Year</th>
      <th>Access to anti-retroviral drugs, female (%)</th>
      <th>Access to anti-retroviral drugs, male (%)</th>
      <th>Account at a financial institution, female (% age 15+) [ts]</th>
      <th>Account at a financial institution, male (% age 15+) [ts]</th>
      <th>Adolescent fertility rate (births per 1,000 women ages 15-19)</th>
      <th>Age at first marriage, female</th>
      <th>Age at first marriage, male</th>
      <th>Age dependency ratio (% of working-age population)</th>
      <th>...</th>
      <th>Women who own land jointly (% of women age 15-49): Q3</th>
      <th>Women who own land jointly (% of women age 15-49): Q4</th>
      <th>Women who own land jointly (% of women age 15-49): Q5 (highest)</th>
      <th>Women who were first married by age 18 (% of women ages 20-24)</th>
      <th>location</th>
      <th>indicator</th>
      <th>subject</th>
      <th>measure</th>
      <th>frequency</th>
      <th>WageGaP</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Australia</td>
      <td>1975.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>38.5016</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>56.816075</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>AUS</td>
      <td>WAGEGAP</td>
      <td>TOT</td>
      <td>PC_MENWAGE</td>
      <td>A</td>
      <td>21.582733</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Australia</td>
      <td>1976.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>35.1688</td>
      <td>22.0</td>
      <td>24.4</td>
      <td>56.478399</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>AUS</td>
      <td>WAGEGAP</td>
      <td>TOT</td>
      <td>PC_MENWAGE</td>
      <td>A</td>
      <td>20.754717</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Australia</td>
      <td>1977.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>31.8360</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>55.782389</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>AUS</td>
      <td>WAGEGAP</td>
      <td>TOT</td>
      <td>PC_MENWAGE</td>
      <td>A</td>
      <td>18.390804</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Australia</td>
      <td>1978.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>30.6870</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>54.923225</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>AUS</td>
      <td>WAGEGAP</td>
      <td>TOT</td>
      <td>PC_MENWAGE</td>
      <td>A</td>
      <td>19.791666</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Australia</td>
      <td>1979.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>29.5380</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>54.143916</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>AUS</td>
      <td>WAGEGAP</td>
      <td>TOT</td>
      <td>PC_MENWAGE</td>
      <td>A</td>
      <td>20.000000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Australia</td>
      <td>1980.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>28.3890</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>53.550174</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>AUS</td>
      <td>WAGEGAP</td>
      <td>TOT</td>
      <td>PC_MENWAGE</td>
      <td>A</td>
      <td>18.750000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Australia</td>
      <td>1981.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>27.2400</td>
      <td>23.5</td>
      <td>25.7</td>
      <td>52.703024</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>AUS</td>
      <td>WAGEGAP</td>
      <td>TOT</td>
      <td>PC_MENWAGE</td>
      <td>A</td>
      <td>18.253969</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Australia</td>
      <td>1982.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>26.0910</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>52.204834</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>AUS</td>
      <td>WAGEGAP</td>
      <td>TOT</td>
      <td>PC_MENWAGE</td>
      <td>A</td>
      <td>20.819113</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Australia</td>
      <td>1983.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>25.0928</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>51.904419</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>AUS</td>
      <td>WAGEGAP</td>
      <td>TOT</td>
      <td>PC_MENWAGE</td>
      <td>A</td>
      <td>19.155844</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Australia</td>
      <td>1984.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>24.0946</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>51.574265</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>AUS</td>
      <td>WAGEGAP</td>
      <td>TOT</td>
      <td>PC_MENWAGE</td>
      <td>A</td>
      <td>18.674698</td>
    </tr>
  </tbody>
</table>
<p>10 rows Ã— 697 columns</p>
</div>

##6 Drop unnecessary columns payment_gap_oecd_raw

In [78]:
new_data_raw.drop('subject', axis=1, inplace=True)
new_data_raw.drop('indicator', axis=1, inplace=True)
new_data_raw.drop('location', axis=1, inplace=True)
new_data_raw.drop('frequency', axis=1, inplace=True)
new_data_raw.drop('measure', axis=1, inplace=True)

#thresh is the minimum number of non NAN values
new_data_raw = new_data_raw.dropna(1,thresh = new_data_raw.shape[0] * 90 / 100)

In [8]:
new_data_raw.head(10)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>country-full-name</th>
      <th>Year</th>
      <th>Adolescent fertility rate (births per 1,000 women ages 15-19)</th>
      <th>Age dependency ratio (% of working-age population)</th>
      <th>Age population, age 0, female, interpolated</th>
      <th>Age population, age 0, male, interpolated</th>
      <th>Age population, age 01, female, interpolated</th>
      <th>Age population, age 01, male, interpolated</th>
      <th>Age population, age 02, female, interpolated</th>
      <th>Age population, age 02, male, interpolated</th>
      <th>...</th>
      <th>Self-employed, male (% of males employed)</th>
      <th>Unemployment, female (% of female labor force) (national estimate)</th>
      <th>Unemployment, male (% of male labor force) (national estimate)</th>
      <th>Unemployment, total (% of total labor force) (national estimate)</th>
      <th>Unemployment, youth female (% of female labor force ages 15-24) (national estimate)</th>
      <th>Unemployment, youth male (% of male labor force ages 15-24) (national estimate)</th>
      <th>Unemployment, youth total (% of total labor force ages 15-24) (national estimate)</th>
      <th>Wage and salaried workers, female (% of females employed)</th>
      <th>Wage and salary workers, male (% of males employed)</th>
      <th>WageGaP</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Australia</td>
      <td>1975.0</td>
      <td>38.5016</td>
      <td>56.816075</td>
      <td>129221.0</td>
      <td>135399.0</td>
      <td>126229.0</td>
      <td>131931.0</td>
      <td>124053.0</td>
      <td>129490.0</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>21.582733</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Australia</td>
      <td>1976.0</td>
      <td>35.1688</td>
      <td>56.478399</td>
      <td>123159.0</td>
      <td>129271.0</td>
      <td>128242.0</td>
      <td>134262.0</td>
      <td>126207.0</td>
      <td>131859.0</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>20.754717</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Australia</td>
      <td>1977.0</td>
      <td>31.8360</td>
      <td>55.782389</td>
      <td>114477.0</td>
      <td>120394.0</td>
      <td>117271.0</td>
      <td>122814.0</td>
      <td>127496.0</td>
      <td>133349.0</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>18.390804</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Australia</td>
      <td>1978.0</td>
      <td>30.6870</td>
      <td>54.923225</td>
      <td>105208.0</td>
      <td>110885.0</td>
      <td>111670.0</td>
      <td>117102.0</td>
      <td>116783.0</td>
      <td>122087.0</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>19.791666</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Australia</td>
      <td>1979.0</td>
      <td>29.5380</td>
      <td>54.143916</td>
      <td>98219.0</td>
      <td>103715.0</td>
      <td>107201.0</td>
      <td>112581.0</td>
      <td>114299.0</td>
      <td>119622.0</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>20.000000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Australia</td>
      <td>1980.0</td>
      <td>28.3890</td>
      <td>53.550174</td>
      <td>95529.0</td>
      <td>100981.0</td>
      <td>104981.0</td>
      <td>110401.0</td>
      <td>112508.0</td>
      <td>117925.0</td>
      <td>...</td>
      <td>17.799999</td>
      <td>7.9</td>
      <td>5.1</td>
      <td>6.1</td>
      <td>13.9</td>
      <td>11.4</td>
      <td>12.500000</td>
      <td>87.099998</td>
      <td>82.199997</td>
      <td>18.750000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Australia</td>
      <td>1981.0</td>
      <td>27.2400</td>
      <td>52.703024</td>
      <td>98291.0</td>
      <td>103710.0</td>
      <td>98536.0</td>
      <td>104011.0</td>
      <td>106417.0</td>
      <td>111875.0</td>
      <td>...</td>
      <td>17.299999</td>
      <td>7.4</td>
      <td>4.8</td>
      <td>5.8</td>
      <td>12.9</td>
      <td>10.2</td>
      <td>11.400000</td>
      <td>87.300003</td>
      <td>82.699997</td>
      <td>18.253969</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Australia</td>
      <td>1982.0</td>
      <td>26.0910</td>
      <td>52.204834</td>
      <td>105328.0</td>
      <td>110843.0</td>
      <td>108584.0</td>
      <td>114060.0</td>
      <td>101377.0</td>
      <td>106914.0</td>
      <td>...</td>
      <td>17.400000</td>
      <td>8.5</td>
      <td>6.4</td>
      <td>7.2</td>
      <td>14.5</td>
      <td>13.3</td>
      <td>13.800000</td>
      <td>87.300003</td>
      <td>82.599998</td>
      <td>20.819113</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Australia</td>
      <td>1983.0</td>
      <td>25.0928</td>
      <td>51.904419</td>
      <td>114547.0</td>
      <td>120245.0</td>
      <td>112786.0</td>
      <td>118398.0</td>
      <td>112058.0</td>
      <td>117621.0</td>
      <td>...</td>
      <td>17.400000</td>
      <td>10.4</td>
      <td>9.7</td>
      <td>10.0</td>
      <td>17.0</td>
      <td>19.4</td>
      <td>18.299999</td>
      <td>87.300003</td>
      <td>82.599998</td>
      <td>19.155844</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Australia</td>
      <td>1984.0</td>
      <td>24.0946</td>
      <td>51.574265</td>
      <td>122946.0</td>
      <td>128844.0</td>
      <td>116994.0</td>
      <td>122759.0</td>
      <td>113107.0</td>
      <td>118792.0</td>
      <td>...</td>
      <td>17.700001</td>
      <td>9.5</td>
      <td>8.7</td>
      <td>9.0</td>
      <td>15.9</td>
      <td>17.5</td>
      <td>16.799999</td>
      <td>87.699997</td>
      <td>82.300003</td>
      <td>18.674698</td>
    </tr>
  </tbody>
</table>
<p>10 rows Ã— 90 columns</p>
</div>

##7 add 35 binary columns for countries

In [79]:
cols = new_data_raw.columns.tolist()
cols_to_transform = [cols[0]]
binary_countries = pd.get_dummies(data = new_data_raw,columns=cols_to_transform)


cols = binary_countries.columns.tolist()
cols = cols[-32:] + cols[:-32]
binary_countries = binary_countries[cols]
binary_countries.to_csv("Binary.csv")
binary_countries.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>country-full-name_Australia</th>
      <th>country-full-name_Austria</th>
      <th>country-full-name_Belgium</th>
      <th>country-full-name_Canada</th>
      <th>country-full-name_Chile</th>
      <th>country-full-name_Czech Republic</th>
      <th>country-full-name_Denmark</th>
      <th>country-full-name_Estonia</th>
      <th>country-full-name_Finland</th>
      <th>country-full-name_France</th>
      <th>...</th>
      <th>Self-employed, male (% of males employed)</th>
      <th>Unemployment, female (% of female labor force) (national estimate)</th>
      <th>Unemployment, male (% of male labor force) (national estimate)</th>
      <th>Unemployment, total (% of total labor force) (national estimate)</th>
      <th>Unemployment, youth female (% of female labor force ages 15-24) (national estimate)</th>
      <th>Unemployment, youth male (% of male labor force ages 15-24) (national estimate)</th>
      <th>Unemployment, youth total (% of total labor force ages 15-24) (national estimate)</th>
      <th>Wage and salaried workers, female (% of females employed)</th>
      <th>Wage and salary workers, male (% of males employed)</th>
      <th>WageGaP</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>21.582733</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>20.754717</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>18.390804</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>19.791666</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>20.000000</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 121 columns</p>
</div>

##8 Specifying Data Types

In [80]:
new_data_raw = binary_countries
cols = binary_countries.columns.tolist()
binary_variables = cols[0:32]
numeric_variables = cols[32:]

##9 Type Conversion - convert all fearutes to float and countries to binaries

In [81]:
# there is no need to convert all other feature to float because it is already in float64 type
new_data_raw[numeric_variables].dtypes

Year                                                                                   float64
Adolescent fertility rate (births per 1,000 women ages 15-19)                          float64
Age dependency ratio (% of working-age population)                                     float64
Age population, age 0, female, interpolated                                            float64
Age population, age 0, male, interpolated                                              float64
Age population, age 01, female, interpolated                                           float64
Age population, age 01, male, interpolated                                             float64
Age population, age 02, female, interpolated                                           float64
Age population, age 02, male, interpolated                                             float64
Age population, age 03, female, interpolated                                           float64
Age population, age 03, male, interpolated                                             float64
Age population, age 04, female, interpolated                                           float64
Age population, age 04, male, interpolated                                             float64
Age population, age 05, female, interpolated                                           float64
Age population, age 05, male, interpolated                                             float64
Birth rate, crude (per 1,000 people)                                                   float64
Contributing family workers, female (% of females employed)                            float64
Contributing family workers, male (% of males employed)                                float64
Death rate, crude (per 1,000 people)                                                   float64
Employment in agriculture, female (% of female employment)                             float64
Employment in agriculture, male (% of male employment)                                 float64
Employment in industry, female (% of female employment)                                float64
Employment in industry, male (% of male employment)                                    float64
Employment in services, female (% of female employment)                                float64
Employment in services, male (% of male employment)                                    float64
Employment to population ratio, 15+, female (%) (national estimate)                    float64
Employment to population ratio, 15+, male (%) (national estimate)                      float64
Employment to population ratio, 15+, total (%) (national estimate)                     float64
Employment to population ratio, ages 15-24, female (%) (national estimate)             float64
Employment to population ratio, ages 15-24, male (%) (national estimate)               float64
                                                                                        ...
Population ages 15-64, female                                                          float64
Population ages 15-64, male                                                            float64
Population ages 15-64, total                                                           float64
Population ages 65 and above (% of total)                                              float64
Population ages 65 and above, female                                                   float64
Population, female                                                                     float64
Population, female (% of total)                                                        float64
Population, total                                                                      float64
Primary education, pupils (% female)                                                   float64
Ratio of female to male labor force participation rate (%) (national estimate)         float64
Ratio of female to male youth unemployment rate (%) (national estimate)                float64
School enrollment, primary (gross), gender parity index (GPI)                          float64
School enrollment, primary and secondary (gross), gender parity index (GPI)            float64
School enrollment, primary, female (% gross)                                           float64
School enrollment, primary, male (% gross)                                             float64
School enrollment, secondary (gross), gender parity index (GPI)                        float64
School enrollment, secondary, female (% gross)                                         float64
School enrollment, secondary, male (% gross)                                           float64
Secondary education, pupils (% female)                                                 float64
Self-employed, female (% of females employed)                                          float64
Self-employed, male (% of males employed)                                              float64
Unemployment, female (% of female labor force) (national estimate)                     float64
Unemployment, male (% of male labor force) (national estimate)                         float64
Unemployment, total (% of total labor force) (national estimate)                       float64
Unemployment, youth female (% of female labor force ages 15-24) (national estimate)    float64
Unemployment, youth male (% of male labor force ages 15-24) (national estimate)        float64
Unemployment, youth total (% of total labor force ages 15-24) (national estimate)      float64
Wage and salaried workers, female (% of females employed)                              float64
Wage and salary workers, male (% of males employed)                                    float64
WageGaP                                                                                float64
dtype: object

In [14]:
new_data_raw[binary_variables].dtypes

country-full-name_Australia             float64
country-full-name_Austria               float64
country-full-name_Belgium               float64
country-full-name_Canada                float64
country-full-name_Chile                 float64
country-full-name_Czech Republic        float64
country-full-name_Denmark               float64
country-full-name_Estonia               float64
country-full-name_Finland               float64
country-full-name_France                float64
country-full-name_Germany               float64
country-full-name_Greece                float64
country-full-name_Hungary               float64
country-full-name_Ireland               float64
country-full-name_Japan                 float64
country-full-name_Latvia                float64
country-full-name_Luxembourg            float64
country-full-name_Mexico                float64
country-full-name_Netherlands           float64
country-full-name_New Zealand           float64
country-full-name_Norway                float64
country-full-name_Poland                float64
country-full-name_Portugal              float64
country-full-name_Russian Federation    float64
country-full-name_Slovak Republic       float64
country-full-name_Slovenia              float64
country-full-name_Spain                 float64
country-full-name_Sweden                float64
country-full-name_Switzerland           float64
country-full-name_Turkey                float64
country-full-name_United Kingdom        float64
country-full-name_United States         float64
dtype: object

10 convert countries type to binary

In [82]:
for variable in binary_variables:
    new_data_raw[variable] = new_data_raw[variable].astype(np.int)
new_data_raw[binary_variables].dtypes
new_data_raw.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>country-full-name_Australia</th>
      <th>country-full-name_Austria</th>
      <th>country-full-name_Belgium</th>
      <th>country-full-name_Canada</th>
      <th>country-full-name_Chile</th>
      <th>country-full-name_Czech Republic</th>
      <th>country-full-name_Denmark</th>
      <th>country-full-name_Estonia</th>
      <th>country-full-name_Finland</th>
      <th>country-full-name_France</th>
      <th>...</th>
      <th>Self-employed, male (% of males employed)</th>
      <th>Unemployment, female (% of female labor force) (national estimate)</th>
      <th>Unemployment, male (% of male labor force) (national estimate)</th>
      <th>Unemployment, total (% of total labor force) (national estimate)</th>
      <th>Unemployment, youth female (% of female labor force ages 15-24) (national estimate)</th>
      <th>Unemployment, youth male (% of male labor force ages 15-24) (national estimate)</th>
      <th>Unemployment, youth total (% of total labor force ages 15-24) (national estimate)</th>
      <th>Wage and salaried workers, female (% of females employed)</th>
      <th>Wage and salary workers, male (% of males employed)</th>
      <th>WageGaP</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>21.582733</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>20.754717</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>18.390804</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>19.791666</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>20.000000</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 121 columns</p>
</div>

11 Impute Missing Values

In [83]:
np.sum(new_data_raw.isnull())

country-full-name_Australia                                                             0
country-full-name_Austria                                                               0
country-full-name_Belgium                                                               0
country-full-name_Canada                                                                0
country-full-name_Chile                                                                 0
country-full-name_Czech Republic                                                        0
country-full-name_Denmark                                                               0
country-full-name_Estonia                                                               0
country-full-name_Finland                                                               0
country-full-name_France                                                                0
country-full-name_Germany                                                               0
country-full-name_Greece                                                                0
country-full-name_Hungary                                                               0
country-full-name_Ireland                                                               0
country-full-name_Japan                                                                 0
country-full-name_Latvia                                                                0
country-full-name_Luxembourg                                                            0
country-full-name_Mexico                                                                0
country-full-name_Netherlands                                                           0
country-full-name_New Zealand                                                           0
country-full-name_Norway                                                                0
country-full-name_Poland                                                                0
country-full-name_Portugal                                                              0
country-full-name_Russian Federation                                                    0
country-full-name_Slovak Republic                                                       0
country-full-name_Slovenia                                                              0
country-full-name_Spain                                                                 0
country-full-name_Sweden                                                                0
country-full-name_Switzerland                                                           0
country-full-name_Turkey                                                                0
                                                                                       ..
Population ages 15-64, female                                                           0
Population ages 15-64, male                                                             0
Population ages 15-64, total                                                            0
Population ages 65 and above (% of total)                                               0
Population ages 65 and above, female                                                    0
Population, female                                                                      0
Population, female (% of total)                                                         0
Population, total                                                                       0
Primary education, pupils (% female)                                                   44
Ratio of female to male labor force participation rate (%) (national estimate)         45
Ratio of female to male youth unemployment rate (%) (national estimate)                46
School enrollment, primary (gross), gender parity index (GPI)                          45
School enrollment, primary and secondary (gross), gender parity index (GPI)            71
School enrollment, primary, female (% gross)                                           45
School enrollment, primary, male (% gross)                                             45
School enrollment, secondary (gross), gender parity index (GPI)                        64
School enrollment, secondary, female (% gross)                                         64
School enrollment, secondary, male (% gross)                                           64
Secondary education, pupils (% female)                                                 63
Self-employed, female (% of females employed)                                          49
Self-employed, male (% of males employed)                                              49
Unemployment, female (% of female labor force) (national estimate)                     46
Unemployment, male (% of male labor force) (national estimate)                         46
Unemployment, total (% of total labor force) (national estimate)                       46
Unemployment, youth female (% of female labor force ages 15-24) (national estimate)    46
Unemployment, youth male (% of male labor force ages 15-24) (national estimate)        46
Unemployment, youth total (% of total labor force ages 15-24) (national estimate)      46
Wage and salaried workers, female (% of females employed)                              49
Wage and salary workers, male (% of males employed)                                    49
WageGaP                                                                                 0
dtype: int64

In [84]:
data_no_na = new_data_raw
cols = data_no_na .columns.tolist()
imputed_variables = cols[33:]
imputed_values = data_no_na[imputed_variables].median()
print(imputed_values)

Adolescent fertility rate (births per 1,000 women ages 15-19)                          1.311400e+01
Age dependency ratio (% of working-age population)                                     5.004281e+01
Age population, age 0, female, interpolated                                            5.738200e+04
Age population, age 0, male, interpolated                                              6.050800e+04
Age population, age 01, female, interpolated                                           5.578600e+04
Age population, age 01, male, interpolated                                             5.875100e+04
Age population, age 02, female, interpolated                                           5.592900e+04
Age population, age 02, male, interpolated                                             5.895400e+04
Age population, age 03, female, interpolated                                           5.585100e+04
Age population, age 03, male, interpolated                                             5.893800e+04
Age population, age 04, female, interpolated                                           5.589300e+04
Age population, age 04, male, interpolated                                             5.879400e+04
Age population, age 05, female, interpolated                                           5.620500e+04
Age population, age 05, male, interpolated                                             5.906700e+04
Birth rate, crude (per 1,000 people)                                                   1.160000e+01
Contributing family workers, female (% of females employed)                            1.000000e+00
Contributing family workers, male (% of males employed)                                4.000000e-01
Death rate, crude (per 1,000 people)                                                   9.200000e+00
Employment in agriculture, female (% of female employment)                             2.400000e+00
Employment in agriculture, male (% of male employment)                                 5.000000e+00
Employment in industry, female (% of female employment)                                1.280000e+01
Employment in industry, male (% of male employment)                                    3.600000e+01
Employment in services, female (% of female employment)                                8.290000e+01
Employment in services, male (% of male employment)                                    5.720000e+01
Employment to population ratio, 15+, female (%) (national estimate)                    4.900000e+01
Employment to population ratio, 15+, male (%) (national estimate)                      6.430000e+01
Employment to population ratio, 15+, total (%) (national estimate)                     5.700000e+01
Employment to population ratio, ages 15-24, female (%) (national estimate)             4.250000e+01
Employment to population ratio, ages 15-24, male (%) (national estimate)               4.540000e+01
Employment to population ratio, ages 15-24, total (%) (national estimate)              4.370000e+01
                                                                                           ...
Population ages 15-64, female                                                          3.587766e+06
Population ages 15-64, male                                                            3.613101e+06
Population ages 15-64, total                                                           7.223196e+06
Population ages 65 and above (% of total)                                              1.510970e+01
Population ages 65 and above, female                                                   1.058941e+06
Population, female                                                                     5.465024e+06
Population, female (% of total)                                                        5.094053e+01
Population, total                                                                      1.055122e+07
Primary education, pupils (% female)                                                   4.864479e+01
Ratio of female to male labor force participation rate (%) (national estimate)         7.815566e+01
Ratio of female to male youth unemployment rate (%) (national estimate)                9.290322e+01
School enrollment, primary (gross), gender parity index (GPI)                          9.953300e-01
School enrollment, primary and secondary (gross), gender parity index (GPI)            1.004500e+00
School enrollment, primary, female (% gross)                                           1.012562e+02
School enrollment, primary, male (% gross)                                             1.018602e+02
School enrollment, secondary (gross), gender parity index (GPI)                        1.010630e+00
School enrollment, secondary, female (% gross)                                         1.014214e+02
School enrollment, secondary, male (% gross)                                           1.017869e+02
Secondary education, pupils (% female)                                                 4.907902e+01
Self-employed, female (% of females employed)                                          9.400000e+00
Self-employed, male (% of males employed)                                              1.690000e+01
Unemployment, female (% of female labor force) (national estimate)                     7.100000e+00
Unemployment, male (% of male labor force) (national estimate)                         6.700000e+00
Unemployment, total (% of total labor force) (national estimate)                       7.100000e+00
Unemployment, youth female (% of female labor force ages 15-24) (national estimate)    1.380000e+01
Unemployment, youth male (% of male labor force ages 15-24) (national estimate)        1.530000e+01
Unemployment, youth total (% of total labor force ages 15-24) (national estimate)      1.490000e+01
Wage and salaried workers, female (% of females employed)                              9.060000e+01
Wage and salary workers, male (% of males employed)                                    8.300000e+01
WageGaP                                                                                2.039489e+01
dtype: float64

In [86]:
for variable in imputed_variables:
    data_no_na[variable].fillna(value = imputed_values[variable], inplace=True)

In [87]:
data_no_na.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>country-full-name_Australia</th>
      <th>country-full-name_Austria</th>
      <th>country-full-name_Belgium</th>
      <th>country-full-name_Canada</th>
      <th>country-full-name_Chile</th>
      <th>country-full-name_Czech Republic</th>
      <th>country-full-name_Denmark</th>
      <th>country-full-name_Estonia</th>
      <th>country-full-name_Finland</th>
      <th>country-full-name_France</th>
      <th>...</th>
      <th>Self-employed, male (% of males employed)</th>
      <th>Unemployment, female (% of female labor force) (national estimate)</th>
      <th>Unemployment, male (% of male labor force) (national estimate)</th>
      <th>Unemployment, total (% of total labor force) (national estimate)</th>
      <th>Unemployment, youth female (% of female labor force ages 15-24) (national estimate)</th>
      <th>Unemployment, youth male (% of male labor force ages 15-24) (national estimate)</th>
      <th>Unemployment, youth total (% of total labor force ages 15-24) (national estimate)</th>
      <th>Wage and salaried workers, female (% of females employed)</th>
      <th>Wage and salary workers, male (% of males employed)</th>
      <th>WageGaP</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>16.9</td>
      <td>7.1</td>
      <td>6.7</td>
      <td>7.1</td>
      <td>13.8</td>
      <td>15.3</td>
      <td>14.9</td>
      <td>90.599998</td>
      <td>83.0</td>
      <td>21.582733</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>16.9</td>
      <td>7.1</td>
      <td>6.7</td>
      <td>7.1</td>
      <td>13.8</td>
      <td>15.3</td>
      <td>14.9</td>
      <td>90.599998</td>
      <td>83.0</td>
      <td>20.754717</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>16.9</td>
      <td>7.1</td>
      <td>6.7</td>
      <td>7.1</td>
      <td>13.8</td>
      <td>15.3</td>
      <td>14.9</td>
      <td>90.599998</td>
      <td>83.0</td>
      <td>18.390804</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>16.9</td>
      <td>7.1</td>
      <td>6.7</td>
      <td>7.1</td>
      <td>13.8</td>
      <td>15.3</td>
      <td>14.9</td>
      <td>90.599998</td>
      <td>83.0</td>
      <td>19.791666</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>16.9</td>
      <td>7.1</td>
      <td>6.7</td>
      <td>7.1</td>
      <td>13.8</td>
      <td>15.3</td>
      <td>14.9</td>
      <td>90.599998</td>
      <td>83.0</td>
      <td>20.000000</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 121 columns</p>
</div>

12 split to X and y

In [88]:
cols = data_no_na .columns.tolist()
#sort rows by years:
data_no_na.sort_values(['Year'],ascending=True, inplace=True)
data_no_na.head()
#x- all colums without wage gap
x = data_no_na[cols[:-1]]

12.5 split y to train and test by year

In [89]:
y_train = data_no_na.loc[data_no_na['Year'] < 2010]
y_train = y_train.ix[:,'WageGaP':]

y_test = data_no_na.loc[data_no_na['Year'] >= 2010]
y_test = y_test.ix[:,'WageGaP':]

13 Normelize all values in x

In [98]:
l = list(new_data_raw)
x_normelize = pd.DataFrame(sp.MinMaxScaler().fit_transform(new_data_raw),columns = l)
x_normelize.head()
x_normelize.to_csv('normelizeX.csv')

14 split to train and test data

In [101]:
#train will contain years 1975-2009
xtrain_data = x_normelize.loc[x_normelize['Year'] < 0.88]
xtest_data = x_normelize.loc[x_normelize['Year'] >= 0.88]

In [102]:
xtrain_data.to_csv('x_train.csv')
xtrain_data.to_csv('x_test.csv')
y_train.to_csv('y_train.csv')
y_test.to_csv('y_test.csv')